<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Steven Zundel</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="./profile_files/ie-emulation-modes-warning.js"></script>

    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">
  <style type="text/css"></style>
  </head>

    {% load staticfiles %}
    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4" style="padding-top: 20px">
          <img class="img-circle" src="{% static "Steve-at-McDonald-Falls.jpg" %}" width="500" height="500">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Steven Zundel</h2>
          <p class="lead">I am a Software Developer living and working in State College, PA. I enjoy solving interesting problems and learning new technologies.
            I spend my free time developing new web pages, and backpacking.</p>
          <p><a class="btn btn-default" href="{% static "CoverLetter.docx" %}" download="CoverLetter.docx" role="button">Cover Letter</a></p>
          <p><a class="btn btn-default" href="{% static "SteveZundelResume.pdf" %}" download="SteveZundelResume.pdf" role="button">Resume</a></p>
        </div>
      </div>
    </div>

    <script src="./profile_files/jquery.min.js"></script>
    <script src="./profile_files/bootstrap.min.js"></script>

    <script src="./profile_files/holder.min.js"></script>
    <script src="./profile_files/ie10-viewport-bug-workaround.js"></script>


</body>
</html>